.content_main{
    width:100%;
}
.content_include_side{
    display:flex;
}
.content_content{
    width:65%;
}
.serach_form{
    margin-right:120px;
    margin-left:120px;
}
.input_company{
    width:400px;
    height:40px;
}
.job_areas{
    padding-top:10px;
}
.job{
    width:400px;
}
.date_search_areas{
    padding-top:10px;
}
.entry_date_search{
    width:198px;
}
.start_date_search{
    width:198px;
}
.search-area{
    padding-top:20px;
}
.search-button{
    width:200px;
}
.results{
    display:flex;
}
.result{
    display: flex;
    flex-direction: column;
}
h4{
    margin:0px;
}